body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 235, 204);
}
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

header img{
 position: absolute;
 top: 0px;
 left: 0;
 float: left;
}
header{
    background-color: rgb(186, 217, 191);
    padding: 40px;
    position: relative;
}
.news {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
    min-height: 1.2em; 
}

nav > ul{
    list-style:none;
    padding:0;
    margin: 0;
    background-color: #e0ffe0;
}
h2 + p{
    color:darkblue;
    font-style : italic;
    text-decoration: underline;
}
em ~ ul{
    border: 2px dashed orange;
    padding: 10px;
     background: #fff8e1;
}
.goal{
    margin:20px;
    background-color:#f9f9f9;
    border: 2px solid #ccc;
    max-height: 150px;
    overflow-y:scroll;
}
#owners{
  transition: transform 0.3s;
}

#owners:hover {
 transform: scale(1.05);
  background-color: #f0fff0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

footer p{
  margin: 0;
  text-shadow: 0 0 0 rgba(244, 3, 3, 0);
  transition: text-shadow 0.35s ease 1s;
}

 footer p:hover {
  text-shadow: 2px 2px 6px rgba(167, 31, 31, 0.6);
 }
